<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cotton.abmallback.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.cotton.abmallback.model.Goods">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="goods_no" jdbcType="VARCHAR" property="goodsNo" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="thums" jdbcType="VARCHAR" property="thums" />
    <result column="images" jdbcType="VARCHAR" property="images" />
    <result column="breif" jdbcType="VARCHAR" property="breif" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="preferential_price" jdbcType="DECIMAL" property="preferentialPrice" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="is_on_sell" jdbcType="BIT" property="isOnSell" />
    <result column="virtual_sales_amount" jdbcType="INTEGER" property="virtualSalesAmount" />
    <result column="sales_amount" jdbcType="INTEGER" property="salesAmount" />
    <result column="is_in_activities" jdbcType="BIT" property="isInActivities" />
    <result column="is_recycled" jdbcType="BIT" property="isRecycled" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
</mapper>