<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cotton.abmallback.mapper.MsgMessageTemplateMapper">
  <resultMap id="BaseResultMap" type="com.cotton.abmallback.model.MsgMessageTemplate">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="item" jdbcType="VARCHAR" property="item" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
  </resultMap>
</mapper>