<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cotton.abmallback.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.cotton.abmallback.model.Orders">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="member_phone" jdbcType="VARCHAR" property="memberPhone" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="total_money" jdbcType="DECIMAL" property="totalMoney" />
    <result column="rebate_money" jdbcType="DECIMAL" property="rebateMoney" />
    <result column="order_source" jdbcType="VARCHAR" property="orderSource" />
    <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
    <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone" />
    <result column="receiver_province_name" jdbcType="VARCHAR" property="receiverProvinceName" />
    <result column="receiver_province_code" jdbcType="INTEGER" property="receiverProvinceCode" />
    <result column="receiver_city_name" jdbcType="VARCHAR" property="receiverCityName" />
    <result column="receiver_city_code" jdbcType="INTEGER" property="receiverCityCode" />
    <result column="receiver_county_name" jdbcType="VARCHAR" property="receiverCountyName" />
    <result column="receiver_county_code" jdbcType="INTEGER" property="receiverCountyCode" />
    <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="pay_mode" jdbcType="VARCHAR" property="payMode" />
    <result column="is_paid" jdbcType="BIT" property="isPaid" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="is_distrubuted" jdbcType="BIT" property="isDistrubuted" />
    <result column="logistic_code" jdbcType="VARCHAR" property="logisticCode" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="return_status" jdbcType="VARCHAR" property="returnStatus" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
</mapper>